.nav-button {
  background-color: var(--sw-yellow);
  color: var(--sw-black);
  border: 1px solid var(--sw-yellow);
  transition: border 0.3s;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}

.nav-button:hover {
  color: var(--sw-white);
  background-color: var(--sw-black);
}
