.nav-button {
  background-color: var(--sw-yellow);
  color: var(--sw-black);
  border: 1px solid var(--sw-yellow);
  border-radius: var(--xsmall);
  padding: var(--xsmall) var(--small);
  font-size: 1em;
  cursor: pointer;
  transition: all 0.2s;
}

.nav-button:hover {
  color: var(--sw-white);
  background-color: var(--sw-black);
}
