.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
  border: 2px solid var(--sw-yellow);
  border-radius: 8px;
}

.data-card__name {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.data-card__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background-color: #151515;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 4px;
}

.data-card__list {
  list-style: none;
  padding: 0;
}
