.intro {
  padding: var(--medium);
  margin: var(--medium);
  background-color: var(--sw-gray);
  color: var(--sw-yellow);
  border: 2px solid var(--sw-yellow);
  border-radius: var(--xsmall);
  text-align: center;
}

.intro--hide {
  display: none;
}

/* Heading styling */
.intro__header {
  margin-bottom: var(--small);
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* Paragraph styling */
.intro__text {
    line-height: 1.6;
  }
  