.loading--show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.loading-icon {
  animation: rotates 1s linear infinite;
  height: 96px;
  width: 96px;
}

@keyframes rotates {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
