.paginator {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: var(--small) 0;
  gap: var(--xsmall);
}

.paginator__button {
  padding: var(--xsmall) var(--small);
  border: 1px solid var(--sw-yellow);
  border-radius: 5px;
  background-color: var(--sw-yellow);
  color: var(--sw-black);
  cursor: pointer;
}

.paginator__button--active,
.paginator__button:hover {
  background-color: var(--sw-black);
  color: var(--sw-white);
}

.paginator__button--disabled, .paginator__button--disabled:hover {
  background-color: var(--sw-gray);
  color: var(--sw-white);
  cursor: not-allowed;
  border: 1px solid var(--sw-gray);
}
